<div class="form-group">
    <div class="row">
        <div class="col-sm-2 text-content text-left ">
            <h4>Participant ID</h4>
            <label>System ID - Automatically assigned. Can't be changed</label>
            <br>
        </div>
        <div class="col-sm-2 text-content text-left">
            <h4>Subject .. DOB</h4>
            <label>Fields you control - both how many and what name are used. </label>
            <br>
        </div>
        <div class="col-sm-2 text-content text-left">
            <h4>Data Entry</h4>
            <label>Enter data for select participant.<br>Will take you to the navigation page for all data entries.</label>
            <br>
        </div>
        <div class="col-sm-2 text-content text-left">
            <h4>Login Setup </h4>
            <label>Enable questionnaire for participant to answer next time they login to Questionnaire Portal <br>
            </label>
            <br>
        </div>
        <div class="col-sm-2 text-content text-left">
            <h4>Quest (Online Questionnaire)</h4>
            <label>Check what the participant will see. Takes you to Questionnaire Portal</label>
            <br>
        </div>
        <div class="col-sm-2 text-content text-left">
            <h4>Login ID and Password</h4>
            <label>Login and password for the Questionnaire Portal</label>
            <br>
        </div>
    </div>
</div>
